@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background: #fffbef;
  --blue-forg: #6689e3;
  --red-forg: #e76571;
  --black-forg: #221f18;
  --orange-forg: #fabe7f;
  background-color: var(--background);
}

body {
  margin: 0;
  padding: 0;
  /* width: 100%; */
}

h1 {
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: 3px 3px var(--red-forg);
  color: var(--background);
  font-size: 60px;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 20px;
  color: var(--background);
}

.main-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.avatar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 10px 10px;
  min-height: 32px;
}

.header-section {
  background-color: var(--blue-forg);
  width: 80%;
  margin: 10px 0 0 0;
  /* padding: 0 10px; */
  border-radius: 20px;
  align-self: center;
}

.question-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 300px; */
  min-height: 500px;
}

.question-title {
  position: relative;
  top: -10px;
  width: 60%;
  /* border: 2px solid var(--red-forg); */
  box-shadow: 0 2px 5px #efebe0 inset;
  border-radius: 20px;
  padding: 5px;
  background-color: var(--background);
}

.question-title h5 {
  font-family: "Roboto", sans-serif;
  font-style: bold;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.question-form,
.selection-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  font-family: "Roboto", sans-serif;
}
.radio-quest,
.selection-quest {
  padding: 10px 0 10px 10px;
  background-color: var(--orange-forg);
  border-radius: 20px;
  width: 100%;
  margin-bottom: 30px;
}

.radio-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-form label {
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.radio-form input {
  /* appearance: none; */
  background-color: var(--background);
  font: inherit;
  color: var(--orange-forg);
  width: 30px;
  height: 30px;
  border: 0.15em solid var(--orange-forg);
  border-radius: 50%;
  accent-color: var(--red-forg);
}

.next-button,
.clear-button {
  appearance: none;
  background-color: var(--blue-forg);
  color: var(--background);
  border-color: var(--blue-forg);
  border-radius: 20px;
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  box-shadow: 2px 2px var(--red-forg);
}

.selection-form select {
  background-color: var(--background);
  color: balck;
  border: none;
  border-radius: 40px;
  font-family: "Roboto", sans-serif;
  text-shadow: none;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
}

.selection-form {
  padding: 20px 10px;
  justify-content: center;
}

.selection-quest {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-card {
  background-color: var(--orange-forg);
  margin-top: 20px;
  align-self: center;
  width: 60%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  gap: 20px;
  /* min-height: 500px; */
}

.submit-button,
.start-button {
  appearance: none;
  background-color: var(--red-forg);
  color: var(--background);
  border-color: var(--red-forg);
  border-radius: 20px;
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  box-shadow: 2px 2px var(--blue-forg);
}

.clear-button {
  min-width: 100px;
}

.submit-card p {
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--black-forg);
  font-size: 20px;
  text-align: center;
  width: 60%;
}

.footer-container {
  margin-top: 100px;
  align-self: center;
}
.footer-container img {
  width: 40px;
  height: 40px;
}

/* here we now style the start section where players can pick a name and avatar */
.start-screen {
  /* width: 80%; */
  align-self: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.start-button {
  margin-top: 20px;
  width: 200px;
}
/* .start-screen label {
  color: var(--orange-forg);
} */
.start-screen input {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  border-radius: 20px;
  margin-left: 10px;
  padding: 10px;
  border: none;
  width: 100px;
  box-shadow: 2px 2px var(--orange-forg);
}

.start-screen select {
  margin-left: 10px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  border-radius: 20px;
  font-size: 30px;
  border: none;
  box-shadow: 2px 2px var(--orange-forg);
}

/* styling the progress bar */

progress[value] {
  -webkit-appearance: none;
  appearance: none;

  height: 20px;
  margin-top: 30px;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--background);
  border-radius: 2px solid var(--red-forg);
  border-radius: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  border-radius: 40px;
  background-color: var(--red-forg);
}
